/* Denna fil skall innehålla din CSS kod */
@import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap');
body{
    margin: 0;
    background-color: #080808;
}

#wrapper{
    border: 1px solid #000; 
    display: grid;
    grid-template-areas: "hd"
    "s1"
    "as"
    "ft";
}

header{
    grid-area: hd;
    background-color: #410205;
    display: flex;
    color: white;
    justify-content: space-between;
}

header h1{
}

header nav{
    grid-area: na;
    background-color: #410205;
    /* display: flex; */
}

nav{
    display: flex;
    justify-content: flex-end;
}

nav ul{
    display: flex;
    justify-content: space-evenly;
}

nav ul li {
    font-size: larger;
    list-style: none;
    margin: 1rem 0.5rem 1rem 0.5rem;
    display: flex; 
}

nav ul li a{
    color: rgb(255, 255, 255);
    text-decoration: none; 
}

#box{
    display: flex;
    justify-content: center;
}

#section1{
    grid-area: s1;
    /* background-color: beige; */
    border-bottom: solid rgb(255, 255, 255) ;
    height: 400px;
    width: 80%;
    /* display: grid;
    grid-template-areas: "s2 none s3"; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#section1 #section2{
    grid-area: s2;
    background-color: #be192c;
    height: 300px;
    width: 45%;
    border-radius: 1rem;
}

#section1 #section3{
    grid-area: s3;
    display: flex;
    size: fit-content;
    height: 300px;
    width: 45%;
    border-radius: 1rem;
    justify-content: center;
}

#section1 #section3 img{
    border-radius: 1rem;

}

#box2{
    display: flex;
    justify-content: center;
}

aside{
    grid-area: as;
    background: rgb(8,8,8);
    background: linear-gradient(180deg, rgba(8,8,8,1) 0%, rgba(129,4,13,1) 100%);
    color: white;
    height: 400px;
    width: 80%;
    margin: 1rem;
    border-radius: 1rem;
}

footer{
    grid-area: ft;
    background-color: #81040d;
    border-top: 1px solid rgb(255, 255, 255) ;
    height: 100px;
}

#AndraSida{
    display: grid;
    grid-template-areas: "hd" "sA" "as" "ft";
}

#sectionA{
    grid-area: sA;
    border-bottom: solid rgb(255, 255, 255) ;
    height: 450px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#sectionA #sectionB{
    grid-area: sB;
    background: rgb(8,8,8);
    background: linear-gradient(153deg, rgba(8,8,8,1) 0%, rgba(78,2,7,1) 50%, rgba(190,25,44,1) 100%);
    color: white;
    height: 400px;
    width: 80%;
    margin: 1rem;
    border-radius: 1rem;
}

#contacts{
    grid-template-areas: "hd""as""ft";
}

@media screen and (max-width:600px){
    #hamburger{
        height: 1.5rem;
        width: 2.2rem;
        position: absolute;
        top: 1rem;
        right: 1rem;
    }

    #hamburger div{
        border: 2px solid rgb(255, 255, 255);
        margin: 0.3rem;
    }

    nav{
        justify-content: center;
        max-height: 0;
        width: 200px;
        overflow: hidden;
    }

    nav.active{
        max-height: 1000px;
    }

    nav ul{
        display: block;
        padding: 0;
    }

    nav ul li{
        text-align: center;
    }

    nav ul li a{
        width: 100%;
        height: 100%;
    }

    #section1{
        display: grid;
        display: flex;
        height: 800px;
        grid-template-areas: "s3" "s2";
        flex-direction: column-reverse; 
        justify-content: center; 
        justify-content: space-evenly;  
    }

    #section1 #section2{
        grid-area: s2;
    }

    #section1 #section3{
        grid-area: s3;

    }

    #section1 #section3 img{
        object-fit:contain;
    }

}